In [1]:
import pandas as pd
import re
import numpy as np

In [ ]:
PERSON_NAME = ''
INPUT_PATH = ''
OUTPUT_PATH = ''

In [2]:
# Get raw data
data = open(INPUT_PATH).read()
raw_data = data.lower().split("\n")

In [3]:
# Create a dataframe with data organized by timestamp, name and message
timestamps_array = []
messages_array = []
names_array = []
df = pd.DataFrame(None, columns=['timestamp', 'name', 'message'])
for i, line in enumerate(raw_data[1:]):
    result = re.match(r"(.*) - (.*): (.*)", line)
    if result:
        timestamps_array.append(result.group(1))
        names_array.append(result.group(2))
        messages_array.append(result.group(3))

df = pd.DataFrame({'timestamp': timestamps_array, 'name': names_array, 'message': messages_array })
df

              timestamp            name                         message
0       25/03/17, 11:03         valeria                            hiii
1       25/03/17, 12:36  diogo maximino                          halloo
2       25/03/17, 12:37  diogo maximino      already with your parents?
3       25/03/17, 17:33         valeria                        yes haha
4       25/03/17, 18:19  diogo maximino                   nice, enjoy üòÅ
...                 ...             ...                             ...
147939  30/01/20, 17:04         valeria  i dont want to see toon in 1hr
147940  30/01/20, 17:36  diogo maximino                            cool
147941  30/01/20, 17:36  diogo maximino              i will go home now
147942  30/01/20, 17:38         valeria                          me too
147943  30/01/20, 17:38         valeria  im on the tram but its delayed

[147944 rows x 3 columns]

In [4]:
df.message.map(lambda x: len(x.split(" "))).max()
mask = df['message'].str.len() <= 100
df_filtered = df.loc[mask]
df_filtered.reset_index()

,index,timestamp,name,message
0,0,"25/03/17, 11:03",valeria,hiii
1,1,"25/03/17, 12:36",diogo maximino,halloo
2,2,"25/03/17, 12:37",diogo maximino,already with your parents?
3,3,"25/03/17, 17:33",valeria,yes haha
4,4,"25/03/17, 18:19",diogo maximino,"nice, enjoy üòÅ"
...,...,...,...,...
145796,147939,"30/01/20, 17:04",valeria,i dont want to see toon in 1hr
145797,147940,"30/01/20, 17:36",diogo maximino,cool
145798,147941,"30/01/20, 17:36",diogo maximino,i will go home now
145799,147942,"30/01/20, 17:38",valeria,me too
145800,147943,"30/01/20, 17:38",valeria,im on the tram but its delayed

In [23]:
import csv
df_sentences_by_person = df_filtered[df_filtered.name==PERSON_NAME]
df_corpus = df_sentences_by_person['message']
df_corpus.to_csv(OUTPUT_PATH, header=None, index=None,  quoting=csv.QUOTE_NONE, escapechar=" ", sep='\t', mode='a')